---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-header-include-cycle,
  misc-include-cleaner,
  performance-*,
  portability-*
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: sys/_types/_size_t\.h
