repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-added-large-files
    -   id: trailing-whitespace
    -   id: mixed-line-ending
    -   id: end-of-file-fixer
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.4
    hooks:
    -   id: clang-format
