#titlearea {
	height: 90px;
	background-color: #3d578c;
	color: rgba(255, 255, 255, .95);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

#titlearea > table {
	top: 10px;
}

#projectlogo {
	position: relative;
	top: .5rem;
}

#projectlogo img {
	margin: 0 1rem;
	width: 80px;
	height: 80px;
}

.footer img {
	position: relative;
	top: -1px;
	height: 25px;
}
