img.logo {
    width: 160px !important;
    height: 160px !important;
}
/* TODO: remove when the RTD theme fixes spacing for function args and return types */
dt {
    display: inline-block !important;
}

.swot-logos {
    width: 100%;
    height: 30px;
}

.swot-logos img {
    height: 100%;
    margin-right: 10px;
}
